C:\Users\AbdullAteef\Downloads\Adventureworks Analytics Hackaton\Analytics_Hackaton_Project_Report.docx

C:\Users\AbdullAteef\Downloads\Adventureworks Analytics Hackaton\Olajide_Abdullateef_Analytics_Hackaton_Powerbi_Report.pbix

